.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    height: 80px;
    top: 20px;
    padding: 0 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
    list-style: none;
}

.nav-menu,
a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none !important;
    margin: auto;
    gap: .8rem;
    color: black;
}

.menu-link {
    
    background-color: transparent !important;
    padding: 2px !important;
    color: black;
    &:hover {
        border-radius: 0.2rem;

        background-color: black !important;
        color: white !important;
        
    }
}

.nav-buttons a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
    color: black;

}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px !important;
    font-weight: 600;
    margin: 10px !important;
    padding: 10px !important;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2) !important;
    transition: 0.4s;
}

.login {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(0, 0, 0);

}
.logout{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(0, 0, 0);
    &:hover{
        color: white;
        background-color: black;
    }
}
.signup {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(0, 0, 0);
}
.header{
    
    z-index: 10;
}