.cards{
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    
}

.card {
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
  }
  
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }
  
  
  
  p{
    font-size: 1rem;
  }