.card-container {
    margin: auto;
    display: grid;
    padding: 0.4rem;
    grid-template-columns: repeat(4, 1fr);
    
    
}
.card-header{
    color: white;
    background-color: black;
}
.card{
    width: 30%;
    margin: 0.4rem;
    
}
.card-body{
    background-color: rgba(222, 223, 220, 0.779);
    padding: 1rem;
    
}

.card-title{
    font-size: large;
    
}
.card-img-top{
    max-width: 100%;
}
.tour-details{
    display: flex;
    margin: 1rem;
    
    
}
.overview{
    display: flex;
    padding: 1.4rem;
    gap: 2rem;
}
.column{
    width: 50%; 
}
.package-overview{
    display: flex;
     width: 100%;
    
}
.package-overview img{
    height: 400px;
    width: 100%;
    border-radius: 1rem;    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);

}